*{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 400px;
    margin: 10px auto;
    background-color: gray;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

table{
    width: 100%;
}

table td{
    padding: 5px;
}
.btn{
    padding: 7px 10px;
}

.form-control{
    padding: 5px;
    width: 270px;
    border-radius: 4px;
    outline: none;
    border: none;
    text-align: right;
}